header
{
    background: rgba(8,119,204,1);
    background: -moz-linear-gradient(-45deg, rgba(8,119,204,1) 0%, rgba(6,121,204,1) 23%, rgba(66,209,241,1) 59%, rgba(206,239,254,1) 90%, rgba(206,239,254,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(8,119,204,1)), color-stop(23%, rgba(6,121,204,1)), color-stop(59%, rgba(66,209,241,1)), color-stop(90%, rgba(206,239,254,1)), color-stop(100%, rgba(206,239,254,1)));
    background: -webkit-linear-gradient(-45deg, rgba(8,119,204,1) 0%, rgba(6,121,204,1) 23%, rgba(66,209,241,1) 59%, rgba(206,239,254,1) 90%, rgba(206,239,254,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(8,119,204,1) 0%, rgba(6,121,204,1) 23%, rgba(66,209,241,1) 59%, rgba(206,239,254,1) 90%, rgba(206,239,254,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(8,119,204,1) 0%, rgba(6,121,204,1) 23%, rgba(66,209,241,1) 59%, rgba(206,239,254,1) 90%, rgba(206,239,254,1) 100%);
    background: linear-gradient(135deg, rgba(8,119,204,1) 0%, rgba(6,121,204,1) 23%, rgba(66,209,241,1) 59%, rgba(206,239,254,1) 90%, rgba(206,239,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0877cc', endColorstr='#ceeffe', GradientType=1 );
    border-bottom: 2px solid #0c7bcd;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 99;
}

#headbody
{
    top:100px;
    z-index: 98;
    position: fixed;
    width: 100%;
}

#headbody .navbar
{
    min-height: 30px;
}

#headbody .navbar-nav>li>a
{
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar-toggle
{
    padding: 3px 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#div-img-head
{
    background-image: url(../images/header/img_header_r1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}

.nav_top>li>a
{
    padding: 0 15px;
}

.navbar_top
{
    min-height: 20px;
}

.navbar-inverse_top
{
    background-color: #0474c7;
    border-color: #0474c7;
}

.navbar-inverse_top .navbar-nav_top > .active > a,
.navbar-inverse_top .navbar-nav_top > .active > a:hover,
.navbar-inverse_top .navbar-nav_top > .active > a:focus
{
    color: #fff;
    background-color: #0474c7;
}

.navbar-inverse_top .navbar-nav_top > .open > a,
.navbar-inverse_top .navbar-nav_top > .open > a:hover,
.navbar-inverse_top .navbar-nav_top > .open > a:focus
{
    color: #fff;
    background-color: #0474c7;
}

.navbar-inverse_top .navbar-nav_top > li > a {
    border-left: 1px solid #ceeffe;
}

.navbar-brand_top
{
    height: auto; 
    padding: 0; 
}

.sombra-nav
{
    background: rgba(4,114,199,0.4);
    padding: 16px 0 1px 0;
    margin: 10px 0;
}

#logo_viveros
{
    width: 500px;
    float: left;
    position: absolute;
    margin-top: -17px;
}

section
{
    height: 100%;
    margin-bottom: 0;
}

body
{
    background: rgba(206,239,254,1);
    background: -moz-linear-gradient(top, rgba(206,239,254,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(206,239,254,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(206,239,254,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(206,239,254,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(206,239,254,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(206,239,254,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceeffe', endColorstr='#ffffff', GradientType=0 );
    background-repeat: no-repeat;
}

#contenidobody
{
    margin-top: 150px;
    padding-top: 10px;
    margin-bottom: 50px;
    height: 100%;
}

#contenidobody, .contenidodelbody, input, select, .contenidodelbody li 
{
    font-family: Arial !important;
    font-size: 10.5px !important;
}

footer
{
    background-color: rgba(8,119,204,1);
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    z-index: 1;
    padding: 6px 0;
    border-top: 1px solid #000;
}

.ui-jqgrid
{
    clear: left;
    margin: 10px 0;
    width: 100% !important;
    overflow: scroll;
}

.class-clear
{
    clear: left;
}

#divlogin
{
    margin: 0 auto;
    padding: 30px;
    background: white;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 9px;
    border: 1px solid #0c7bcd;
    box-shadow: 6px 7px 23px #7F7E7E;
    -webkit-box-shadow: 6px 7px 23px #7F7E7E;
    -moz-box-shadow: 6px 7px 23px #7F7E7E;
}

#logoLogin
{
    margin: auto;
}

.control-label
{
    text-align: right;
}

input[type=text], input[type=password], input[type=email], input[type=nombre], input[type=date], select
{
    margin: 5px;
    padding: 0 5px;
    height: 25px !important;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    /*outline: 5px solid #eff4f7;*/
    -moz-outline-radius: 3px; 
}

.color-red
{
    color: red;
}

#fornuevocontacto, #formDirecciones,#formMaquinas
{
    clear: left;
    padding: 40px 0;
}
#btnEditarDireccion,#btnEditarContacto,#btnEditarMaquina{

    float:right !important;
    margin-top: -30px;
}

.checkbox-group li
{
    float: left;
    display: inline;
    list-style: none;  
    border-left: 1px solid #DBE1EB;
    border-bottom: 1px solid #DBE1EB;
    border-top: 1px solid #DBE1EB;
    font-size: 18px;
    font-family: Arial, Verdana;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #454F6F;
    background: linear-gradient(top, #454F6F, #5D6684); 
    background: -moz-linear-gradient(top, #454F6F, #5D6684); 
    background: -webkit-linear-gradient(top, #454F6F, #5D6684); 
    background: -o-linear-gradient(top, #454F6F, #5D6684); 
    color: #FFFFFF;
}

.checkbox-group li:first-child
{
    border-radius: 4px 0px 0px 4px;
}

.checkbox-group li:last-child
{
    border-radius: 0px 4px 4px 0px;
}

.checkbox-group:hover
{
    cursor: pointer;
}

.checkbox-group-active
{
    background: #8A92AA !important;
    background: linear-gradient(top, #8A92AA, #A1A7BC) !important; 
    background: -moz-linear-gradient(top, #8A92AA, #A1A7BC) !important; 
    background: -webkit-linear-gradient(top, #8A92AA, #A1A7BC) !important; 
    background: -o-linear-gradient(top, #8A92AA, #A1A7BC) !important; 
}
 
 #op table
{
    padding: 0;
}

#op table th
{
    border: 1px solido #878787;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    background-color: #878787;
    color: white;
}

#op table tbody
{
    background-color: white;
}

.td_right
{
    text-align: right;
}

.td_center
{
    text-align: center;
}

.textarea
{
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    /*height: 25px !important;*/
    color: black !important;
    background: white !important;
    border: 1px solid !important;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4 !important;
    border-radius: 2px !important;
    outline: 0 !important; 
    -moz-outline-radius: 3px !important;
}

#op table select
{
    width: 100% !important;
}

.op_input
{
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 25px !important;
    color: black !important;
    background: transparent !important;
    border: 1px solid !important;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4 !important;
    border-radius: 2px !important;
    outline: 0 !important; 
    -moz-outline-radius: 3px !important;
}

.observaciones
{
    clear: left;
    display: block;
    margin-bottom:50px;
    padding: 0;
}
    
.titulo_form
{
    color: #fff;
    background-color: #337ab7;
    border-radius: 10px 10px 0px 0px;
    padding: 3px;
}

.titulo_form h3
{
    margin: 0 0 0 8px;
}

.contenido_from
{
    background: #f2f2f2;
    margin-bottom: 30px;
    padding: 8px 0;
    text-align: right;
}

.ui-widget-header
{
    border: 1px solid #337ab7 !important;
    background: #337ab7 !important;
    color: #fff;
}

#contactosG
{
    text-align: right;
}

@media (max-width: 998px)
{
    .contenido_from
    {
        text-align: left;
    }
    
    #contactosG
    {
        text-align: left;
    }
}

@media (min-width: 768px)
{
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .form-group
    {
        margin-bottom: 8px !important;
    }
}

/*---------*/
/*CSS ISAAC*/
/*---------*/