header
{
    background: rgba(8,119,204,1);
    background: -moz-linear-gradient(-45deg, rgba(8,119,204,1) 0%, rgba(6,121,204,1) 23%, rgba(66,209,241,1) 59%, rgba(206,239,254,1) 90%, rgba(206,239,254,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(8,119,204,1)), color-stop(23%, rgba(6,121,204,1)), color-stop(59%, rgba(66,209,241,1)), color-stop(90%, rgba(206,239,254,1)), color-stop(100%, rgba(206,239,254,1)));
    background: -webkit-linear-gradient(-45deg, rgba(8,119,204,1) 0%, rgba(6,121,204,1) 23%, rgba(66,209,241,1) 59%, rgba(206,239,254,1) 90%, rgba(206,239,254,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(8,119,204,1) 0%, rgba(6,121,204,1) 23%, rgba(66,209,241,1) 59%, rgba(206,239,254,1) 90%, rgba(206,239,254,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(8,119,204,1) 0%, rgba(6,121,204,1) 23%, rgba(66,209,241,1) 59%, rgba(206,239,254,1) 90%, rgba(206,239,254,1) 100%);
    background: linear-gradient(135deg, rgba(8,119,204,1) 0%, rgba(6,121,204,1) 23%, rgba(66,209,241,1) 59%, rgba(206,239,254,1) 90%, rgba(206,239,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0877cc', endColorstr='#ceeffe', GradientType=1 );
    border-bottom: 2px solid #0c7bcd;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
}

#div-img-head
{
    background-image: url(../images/header/img_header_r1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}

.nav_top>li>a
{
    padding: 0 15px;
}

.navbar_top
{
    min-height: 20px;
}

.navbar-inverse_top
{
    background-color: #0474c7;
    border-color: #0474c7;
}

.navbar-inverse_top .navbar-nav_top > .active > a,
.navbar-inverse_top .navbar-nav_top > .active > a:hover,
.navbar-inverse_top .navbar-nav_top > .active > a:focus
{
    color: #fff;
    background-color: #0474c7;
}

.navbar-inverse_top .navbar-nav_top > .open > a,
.navbar-inverse_top .navbar-nav_top > .open > a:hover,
.navbar-inverse_top .navbar-nav_top > .open > a:focus
{
    color: #fff;
    background-color: #0474c7;
}

.navbar-inverse_top .navbar-nav_top > li > a {
    border-left: 1px solid #ceeffe;
}

.navbar-brand_top
{
    height: auto; 
    padding: 0; 
}

.sombra-nav
{
    background: rgba(4,114,199,0.4);
    padding: 16px 0 1px 0;
    margin: 10px 0;
}

#logo_viveros
{
    width: 500px;
    float: left;
    position: absolute;
    margin-top: -17px;
}

section
{
    height: 100%;
    margin-bottom: 0;
}

body
{
    background: rgba(206,239,254,1);
    background: -moz-linear-gradient(top, rgba(206,239,254,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(206,239,254,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(206,239,254,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(206,239,254,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(206,239,254,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(206,239,254,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceeffe', endColorstr='#ffffff', GradientType=0 );
    background-repeat: no-repeat;
}

#contenidobody
{
    margin-top: 100px;
    padding-top: 20px;
    margin-bottom: 0;
    height: 100%;
}

footer
{
    background-color: rgba(8,119,204,1);
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    z-index: 1;
    padding: 6px 0;
    border-top: 1px solid #000;
}

.ui-jqgrid/*, .ui-jqgrid-view, .ui-state-default, .ui-jqgrid-bdiv, .ui-jqgrid-hbox, .ui-jqgrid-htable, #gridClientes*/
{
    clear: left;
    margin: 10px 0;
    /*width: 100% !important;*/
}

.class-clear
{
    clear: left;
}

#divlogin
{
    margin: 0 auto;
    padding: 30px;
    background: white;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 9px;
    border: 1px solid #0c7bcd;
    box-shadow: 6px 7px 23px #7F7E7E;
    -webkit-box-shadow: 6px 7px 23px #7F7E7E;
    -moz-box-shadow: 6px 7px 23px #7F7E7E;
}

#logoLogin
{
    margin: auto;
}

input[type=text], input[type=password]
{
  margin: 5px;
  padding: 0 10px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px; 
  
}

.color-red
{
    color: red;
}

#fornuevocontacto, #formDirecciones
{
    clear: left;
    /*margin: 20px 0;*/
    padding: 40px 0;
}

@media (max-width: 767px)
{
/*    header
    {
        height: 200px;
    }
    
    #contenidobody
    {
        padding-top: 200px;
    }*/
}

@media (min-width: 768px)
{
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .form-group
    {
        margin-bottom: 8px !important;
    }
}

/*---------*/
/*CSS ISAAC*/
/*---------*/

